<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
                <a href = "../index.html" class="link">
                    <img src="../static/images/logo.png" alt="home" width="80" height="55">
                </a>
            <div class="right">
                <a href = "about.html" class="link">ABOUT</a>
                <a href = "fares.html" class="link">FARES</a>
                <a href = "things.html" class="link">THINGS TO DO</a>
                <a href = "gallery.html" class="link">GALLERY</a>
                <a href = "faq.html" class="link">FAQ'S</a> 
            </div>
        </nav>
    </header>
    <div class ="divMain">
        <div class="title">
            <h2>ABOUT</h2>
        </div>
        <div class="divSub">
                <h3>EARLY   HISTORY</h3>
            <div class="aboutText">
                <p>
                    The Duquesne Incline is one of those which follows very closely the tracks of 
                    an early coal hoist. Old newspapers indicate the existence of such a 
                    conveyance as early as 1854. Residents apparently referred to it as 
                    "Kirk Lewis' incline" and located it on the present site of The 
                    Duquesne Incline's Upper Station. Grandview Avenue was then the High Street, 
                    and the area was just beginning to be converted from farmland to homesites. 
                    This pleasantly-situated acreage was an excellent area to absorb some of the 
                    expanding population of the city, but the problem of easy access was still to 
                    be solved.
                </p>
                <p>
                    Although plans for a freight and passenger incline are known to have 
                    existed much earlier, financial backing was exceedingly hard to 
                    find--even the modest sum of $47,000--and actual construction was delayed. 
                    Eventually, of course, difficulties were overcome and the Incline was built. 
                    It was opened to the public May 20, 1877. The Duquesne Incline was the first 
                    Pittsburgh incline designed and built by Samuel Diescher, for Kirk Bigham and 
                    Associates. Mr. Diescher, an engineer, had become the country's foremost builder 
                    of inclines. He was also to design and build most of those that followed.
                </p>
                <p>
                    At the time of its public opening, it was one of four inclined planes 
                    serving the summit of Coal Hill, which later came to be known as Mount 
                    Washington. The Duquesne Incline was operated, from 1877 until 1962 by The 
                    Duquesne Inclined Plane Company. From 1964 until the present, the Incline has 
                    been operated by the Society for the Preservation of The Duquesne Heights 
                    Incline; it has been owned by the Port Authority of Allegheny County.
                </p>
            </div>
            <div class="about">
                <div class="youtube">
                    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/bSLvrz5GraI?si=yZfKZ7zevlwSOlUF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="factsBox">
                    <div class="facts">
                        <h4>FACTS!</h4>
                        <div class="factsText">
                            <ul>
                                <li>Opened to Public: May 20, 1877</li>
                                <li>Cost to Build: $47,000</li>
                                <li>Length of Track: 794 feet</li>
                                <li>Elevation: 400 feet</li>
                                <li>Grade: 30.5 degrees</li>
                                <li>Speed: 6 miles per hour</li>
                                <li>Passenger: Capacity 18 per car</li>
                            </ul>
                        </div>
                    </div>
            </div>
            </div>
        </div>
            <div class="divSub">
                <h3>THE  SOCIETY FOR THE PRESERVATION OF THE DUQUESNE HEIGHTS INCLINE</h3>
                <div class="aboutText">
                    <p>
                        The Society for the Preservation of the Duquesne Heights 
                        Incline was formed in 1964 by the Duquesne Heights/Mount 
                        Washington neighborhood group that had rescued, repaired, and 
                        reopened the Incline in 1963. The purpose was to continue to 
                        restore and rehabilitate the cars, equipment, and both stations, 
                        and to establish the entire operation as a reliable commuter facility 
                        and a popular visitor attraction.  Memberships in the society are available, 
                        call for details.
                    </p>
                </div>
            </div>  
        <div class="divSub">
            <h3>ADDITIONAL INFORMATION</h3>
            <div class="giftShop">
                <div class="aboutText">
                <p>Learn more about the Duquesne Incline through these links:</p>
                <ul>
                    <li><a href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677" target="_blank" class="mail">Viator</a></li>
                    <li><a href="https://www.visitpittsburgh.com/directory/duquesne-incline/" target="_blank" class="mail">Visit Pittsburgh</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Duquesne_Incline" target="_blank" class="mail">Wikipedia Article</a></li>
                    <li><a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh" target="_blank" class="mail">Yelp</a></li>
                </ul>
            </div>
            <div class="about">
                <div class="fieldTrip" onClick="fieldTrip('giftshop.html')">
                    <button id="giftShopButton">GIFT SHOP</button>
                </div>
                <div class="facebook">
                    <div class="fb-page" data-href="https://www.facebook.com/TheDuquesneIncline"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="toTop">
        <a href="#" class="topButton">Go to Top</a>
    </div>
    <footer class="footer">
        <p>Copyright &copy; 2025</p>
        <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
        <p>Fax: 412.381.1943</p>
        <p>Phone Number: 412.381.1665</p>
        <a href="mailto:duq.incline@duquesneincline.org" class="mail">Email</a>
    </footer>
</body>
</html>