<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
                <a href = "../index.html" class="link">
                    <img src="../static/images/logo.png" alt="home" width="80" height="55">
                </a>
            <div class="right">
                <a href = "about.html" class="link">ABOUT</a>
                <a href = "fares.html" class="link">FARES</a>
                <a href = "things.html" class="link">THINGS TO DO</a>
                <a href = "gallery.html" class="link">GALLERY</a>
                <a href = "faq.html" class="link">FAQ'S</a> 
            </div>
        </nav>
    </header>
    <div class ="divMain">
        <div class="title">
            <h2>FREQUENTLY ASKED</h2>
            <h2>QUESTIONS</h2>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Question</h3>
                <div class="aboutText">
                    <p>
                        How does payment work?
                    </p>
                </div>
            </div>
            <div class="answer">
                <h4>Answer</h4>
                <div class="factsText">
                    <p>
                        Exact Cash Fare upon arrival. There are no 
                        tickets, no advance payment, no reservations 
                        and no debit or credit cards.
                    </p>
                </div>
            </div>
        </div>  
        <div class="faq">
            <div class="question">
                <h3>Question</h3>
                <div class="aboutText">
                    <p>
                        What if I don't have the exact 
                        cash needed?
                    </p>
                </div>
            </div>
            <div class="answer">
                <h4>Answer</h4>
                <div class="factsText">
                    <p>
                        The Duquesne Incline is part of the transportation 
                        system in Pittsburgh and therefore uses the same _CASH_ 
                        fare system as the buses and trolleys. A change machine 
                        is available for your convenience. Having the exact fare 
                        in hand speeds up the payment process considerably.
                    </p>
                </div>
            </div>
        </div>
            <div class="faq">
                <div class="question">
                    <h3>Question</h3>
                    <div class="aboutText">
                        <p>
                            What about senior citizens?
                        </p>
                    </div>
                </div>
                <div class="answer">
                    <h4>Answer</h4>
                    <div class="factsText">
                        <p>
                            Pennsylvania Seniors 65 and older who present a 
                            BLUE or YELLOW PRT card or a Senior ConnectCard ride free, otherwise, 
                            the adult rate applies.The Duquesne Incline is required to 
                            request a Pennsylvania Senior Citizen Transit 
                            ID card as proof of discount eligiblity, no exceptions,
                            in order to be reimbursed by the Commonwealth of PA.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    <h3>Question</h3>
                    <div class="aboutText">
                        <p>
                            Are there any restrooms?
                        </p>
                    </div>
                </div>
                <div class="answer">
                    <h4>Answer</h4>
                    <div class="factsText">
                        <p>
                            Sorry, no rest rooms. The Duquesne Incline 
                            has been part of Pittsburgh's transportation system 
                            since 1877 like a trolley or the cable cars of 
                            San Francisco.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    <h3>Question</h3>
                    <div class="aboutText">
                        <p>
                            When is it the busiest?
                        </p>
                    </div>
                </div>
                <div class="answer">
                    <h4>Answer</h4>
                    <div class="factsText">
                        <p>
                            Saturday's and Sunday's after noon are our busiest times. 
                            Expect to wait in line for about 10 minutes in both directions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faqLast">
                <div class="question">
                    <h3>Question</h3>
                    <div class="aboutText">
                        <p>
                            In what ways is the incline accessible?
                        </p>
                    </div>
                </div>
                <div class="answer">
                    <h4>Answer</h4>
                    <div class="factsText">
                        <p>
                            There are many steps to traverse from the lower 
                            station parking lot.The Upper Station located at 
                            1220 Grandview Ave, Pittsburgh, Pa. 15211 is wheelchair 
                            accessible. Our observation deck is also wheelchair accessible.
                            The Historic (original) Incline cars can accommodate wheelchairs up to 
                            25 inches in width.
                        </p>
                    </div>
                </div>
            </div>
        </div>  
        <div class="toTop">
            <a href="#" class="topButton">Go to Top</a>
        </div>
        <footer class="footer">
            <p>Copyright &copy; 2025</p>
            <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
            <p>Fax: 412.381.1943</p>
            <p>Phone Number: 412.381.1665</p>
            <a href="mailto:duq.incline@duquesneincline.org" class="mail">Email</a>
        </footer>
</body>
</html>