<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
                <a href = "../index.html" class="link">
                    <img src="../static/images/logo.png" alt="home" width="80" height="55">
                </a>
            <div class="right">
                <a href = "about.html" class="link">ABOUT</a>
                <a href = "fares.html" class="link">FARES</a>
                <a href = "things.html" class="link">THINGS TO DO</a>
                <a href = "gallery.html" class="link">GALLERY</a>
                <a href = "faq.html" class="link">FAQ'S</a> 
            </div>
        </nav>
    </header>
    <div class ="divMain">
        <div class="title">
            <h2>PHOTO GALLERY</h2>
        </div>
        
        <div class="gallery">

            <div class="galleryItemTop">
                <img src="../static/images/image1.webp" class="galleryImage" alt="centered incline cart on a snowy backgroud">
                <p class="caption">CREDIT: BradleyBPhotography</p>
            </div>
            <div class="galleryItemTop">
                <img src="../static/images/image11.jpg" class="galleryImage" alt="evening view of duquesne incline and car">
                <p class="caption">CREDIT: Glasshouse Photography</p>
                <img src="../static/images/visitor2.jpg" class="galleryImage" alt="Girl Scout Troop 54377">
                <p class="caption">CREDIT: Girl Scout Troop 54377</p>
            </div>
            <div class="galleryItem">
                <img src="../static/images/visitor1.jpg" class="galleryImage" alt="Girl Scout Troop 54377">
                <p class="caption">CREDIT: Girl Scout Troop 54377</p>
                <img src="../static/images/image3.jpg" class="galleryImage" alt="close up shot of duquesne incline car">
                <p class="caption">CREDIT: Expedia</p>
            </div>
            <div class="galleryItem">
                <img src="../static/images/image2.webp" class="galleryImage" alt="inside view of duquesne incline car">
                <p class="caption">CREDIT: toddnkaya1</p>
            </div>

            <div class="galleryItem">
                <img src="../static/images/image8.jpg" class="galleryImage" alt="close up shot of the wheels and ropes that work the incline">
                <p class="caption">CREDIT: Wander Wisdom</p>
            </div>
            <div class="galleryItem">
                <img src="../static/images/visitor4.jpg" class="galleryImage" alt="The Plainedge High School Choir from Long Island N.Y.">
                <p class="caption">CREDIT: The Plainedge High School Choir from Long Island N.Y.</p>
                <img src="../static/images/image6.jpg" class="galleryImage" alt="full front view of duquesne incline">
                <p class="caption">CREDIT: Richard L.</p>
            </div>
            <div class="galleryItem">
                <img src="../static/images/image5.jpg" class="galleryImage" alt="view of inside of duquesne incline car">
                <p class="caption">CREDIT: Pittsburgh Magazine</p>
                <img src="../static/images/visitor3.jpg" class="galleryImage" alt="Girl Scout Troop 54377">
                <p class="caption">CREDIT: Girl Scout Troop 54377</p>
            </div>
            <div class="galleryItem">
                <img src="../static/images/image9.avif" class="galleryImage" alt="view of duquesne incline in snow">
                <p class="caption">CREDIT: Carla Cardello</p>
            </div>
        </div>
    </div>
    <div class="toTop">
        <a href="#" class="topButton">Go to Top</a>
    </div>
    <footer class="footer">
        <p>Copyright &copy; 2025</p>
        <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
        <p>Fax: 412.381.1943</p>
        <p>Phone Number: 412.381.1665</p>
        <a href="mailto:duq.incline@duquesneincline.org" class="mail">Email</a>
    </footer>
</body>
</html>