<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
                <a href = "../index.html" class="link">
                    <img src="../static/images/logo.png" alt="home" width="80" height="55">
                </a>
            <div class="right">
                <a href = "about.html" class="link">ABOUT</a>
                <a href = "fares.html" class="link">FARES</a>
                <a href = "things.html" class="link">THINGS TO DO</a>
                <a href = "gallery.html" class="link">GALLERY</a>
                <a href = "faq.html" class="link">FAQ'S</a> 
            </div>
        </nav>
    </header>
    <div class ="divMain">
        <div class="title">
            <h2>GIFT SHOP</h2>
        </div>
        <div class="giftSub">
            <p class="giftText">We offer many one of a kind items that were custom made for the Incline.
                Many shot glasses are for sale including a slanted one. We also sell handmade Incline wooden ornaments that
                are only available at our gift shop. There are also a full assortment of Wendell August Forge
                metal plates, all types of pictures framed and unframed, custom designed shirts available in youth
                and adult sizes, and a variety of postcareds.
            </p>
        </div>  
        <div class="gallery">

            <div class="shopItemTop">
                <img src="../static/images/shop3.jpg" class="galleryImage" alt="picture of gift shop metal plates">
                <p class="caption">CREDIT: Duquesne Incline Gift Shop</p>
            </div>
            <div class="shopItemTop">
                <img src="../static/images/shop1.jpg" class="galleryImage" alt="duquesne incline car figurine">
                <p class="caption">CREDIT: Duquesne Incline Gift Shop</p>
                <img src="../static/images/shop2.jpg" class="galleryImage" alt="picture of shotglasses">
                <p class="caption">CREDIT: Duquesne Incline Gift Shop</p>
            </div>
            <div class="shopItem">
                <img src="../static/images/shop4.jpg" class="galleryImage" alt="view of postcards">
                <p class="caption">CREDIT: Duquesne Incline Gift Shop</p>
            </div>
        </div>
    </div>
    <div class="toTop">
        <a href="#" class="topButton">Go to Top</a>
    </div>
    <footer class="footer">
        <p>Copyright &copy; 2025</p>
        <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
        <p>Fax: 412.381.1943</p>
        <p>Phone Number: 412.381.1665</p>
        <a href="mailto:duq.incline@duquesneincline.org" class="mail">Email</a>
    </footer>
</body>
</html>